<div class="pref-list">

  <div class="pref">
    <div class="pref-name title"> Name </div>
    <div class="pref-item title"> To {{ $ctrl.student.name }} </div>
  </div>

  <div class="pref item">
    <div class="pref-name"> {{ $ctrl.student.preferences[0].name }} </div>
    <div class="pref-item"> {{ $ctrl.student.preferences[0].toPreference }} </div>
  </div>

  <div class="pref item">
    <div class="pref-name"> {{ $ctrl.student.preferences[1].name }} </div>
    <div class="pref-item"> {{ $ctrl.student.preferences[1].toPreference }} </div>
  </div>

  <div class="pref item">
    <div class="pref-name"> {{ $ctrl.student.preferences[2].name }} </div>
    <div class="pref-item"> {{ $ctrl.student.preferences[2].toPreference }} </div>
  </div>

  <div class="pref item">
    <div class="pref-name"> {{ $ctrl.student.preferences[3].name }} </div>
    <div class="pref-item"> {{ $ctrl.student.preferences[3].toPreference }} </div>
  </div>

  <div class="pref item">
    <div class="pref-name"> {{ $ctrl.student.preferences[4].name }} </div>
    <div class="pref-item"> {{ $ctrl.student.preferences[4].toPreference }} </div>
  </div>

</div>

<!-- this is just to show you the format - all preferences for the data set should be rendered -->
